#expandBtn{
    -fx-background-color: #4CAF50;
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.button:pressed{
    -fx-background-color: #388E3C;
}
#currDegreeLbl{
    -fx-border-color: blue;
    -fx-border-width: 0.7;
    -fx-background-color: #e1e0e0;
}
#chooseVarBox{
    -fx-border-color: blue;
    -fx-border-width: 0.7;
    -fx-background-color: #e1e0e0;
}