.button{
    -fx-background-color: #4CAF50;
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.button:pressed{
    -fx-background-color: #388E3C;
}
.label{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-color: #FEF3C4;
}
.text-field{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-color: #FEF3C4;
    -fx-text-fill: black;
}