# Build outputs (javac)
out/
engine/out/
client/out/
build/
dist/
target/
*.class

# temp files created by the bat script
engine/sources.txt
client/sources.txt


# Archives & State files
*.zip
*.state
*.log


# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code (if you ever open it there)
.vscode/

# OS junk
.DS_Store
Thumbs.db
desktop.ini
