.button{
    -fx-background-color: #4CAF50;
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
#programSelectorBtn{
    -fx-background-color: #4CAF50;
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
#expandBtn{
    -fx-background-color: #4CAF50;
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
#collapseBtn{
    -fx-background-color: #4CAF50;
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.button:pressed{
    -fx-background-color: #388E3C;
}

#currDegreeLbl{
    -fx-border-color: blue;
    -fx-border-width: 0.7;
    -fx-background-color: #e1e0e0;
}
#chooseVarBtn{
    -fx-border-color: blue;
    -fx-border-width: 0.7;
    -fx-background-color: #e1e0e0;
}

#cyclesLbl{
    -fx-border-color:blue;
    -fx-border-width:0.7;
    -fx-background-color: #BF1FD1FF;
}
#varTable{
    -fx-border-color:blue;
    -fx-border-width:0.7;
    -fx-background-color: #BF1FD1FF;
}
#inputsTable{
    -fx-border-color:blue;
    -fx-border-width:0.7;
    -fx-background-color: #5A64F6FF;
}
